section{
    display: flex;
    justify-content: center;
}

img{
    flex-basis: 2;
}

p{
    width: 50vw;
    margin:  0 0 0 16px;
    text-align: left;
}

ul{
    text-align: left;
    padding: 0;
    margin-left: 16px;
    list-style: none;
    
}

li{
    padding: 0 0 0 8px;
}

.backBtn{
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left:3%;
    cursor: pointer;
}

